.qna_send_title {
    padding-top: 8rem;
    padding-bottom: 1rem;
    border-bottom: black solid 5px;
}

.qna_send_letter {
    padding-top: 4rem;
}

.qna_send_box {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border: grey solid 2px;
    border-radius: 10px;
    text-align: center;
}

.qna_send_bottom_line {
    margin-bottom: 4rem;
    padding-top: 4rem;
    border-bottom: black solid 5px;
}