.register_info_text {
    display : flex;
    align-items : center;
}

.register_terms {
    border : 1px solid #ced4da;
    border-radius: 5px;
    padding : 1rem;
    overflow-y : scroll;
}

.register_input {
    border : 2px solid #343a40;
    border-radius : 5px;
}

.register_input::placeholder {
    font-size : 0.8rem;
    font-family: 'Raleway', sans-serif;
    padding-left : 0.2rem;
}
