.write_qna_container {
    margin-top : 1rem;
    padding-top : 0.8rem;
    margin-bottom : 1rem;
}

.write_qna_top_bottom{
    border-top : 2px solid #000;
    border-bottom : 2px solid #000;
}

.write_qna_box {
	height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    margin-left: 1rem;
}

.write_qna_contentbox {
	width:800px;
	height:300px;
}